.loading {
    background-color: rgb(0, 0, 0 , 0.7);
    top: 0;
    left: 0;
    .loading-text {
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        width: 100px;
    }
    .spinner-border {
        color: #d66c05;
    }
}