<div class="left-side-card rounded position-relative " style="height: 100%;">


    <div *ngIf="weatherData">

        <div class="left-section-details position-absolute col-lg-7 ">

            <div class="d-flex align-items-center ">

                <div *ngFor="let item of weatherData.consolidated_weather ; let i = index">
                    <div *ngIf="i == currentDay" class="d-flex align-items-center fade-in">

                        <!-- back to last day -->
                        <button mat-button (click)="goToPrevDay(i)">
                            <mat-icon class="text-white">keyboard_arrow_left</mat-icon>
                        </button>

                        <!-- temperature degree : it remove float part -->
                   <div class="position-relative" style="right: 6px">
                    <h1 class="temp-deg text-white">{{item.the_temp.toString().split('.')[0]}}</h1>
                   </div>

                        <div class="middle-data text-white text-center">
                            <h1  id="cityName">{{weatherData?.title}}</h1>
                            <span>{{time}}</span>
                            <span>{{item.applicable_date.slice(5).replace('-' , '/')}}</span>
                        </div>

                        <img [src]="iconPath +item.weather_state_abbr + '.svg' " alt="state-icon" width="50px"
                            style="margin-left: 20px;">
                        <!-- go to next day -->
                        <button mat-button (click)="goToNextDay(i)">
                            <mat-icon class="text-white">keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
                </div>



            </div>
        </div>
    </div>


</div>