<div class="left-side-card rounded position-relative h-100">

    <div *ngIf="weatherData">

        <div class="left-section-details d-flex justify-content-center position-absolute col-lg-7 ">

            <div class="d-flex align-items-center ">

                <div *ngFor="let item of weatherData.consolidated_weather ; let index = index">
                    <div *ngIf="index== currentDay" class="d-flex align-items-center ">

                        <!-- back to last day -->
                        <button mat-button (click)="goToPrevDay(index)" class="button-effect position-absolute"
                            id="prevBtn">
                            <mat-icon matTooltip="Preview Day" class="text-white">keyboard_arrow_left</mat-icon>
                        </button>

                        <!-- temperature degree : it remove float part -->
                        <div class="position-relative" style="right: 6px">
                            <h1 class="temp-deg text-white position-relative fade-in-up" matTooltip="The Temp">
                                {{item.the_temp.toString().split('.')[0]}}
                            </h1>
                        </div>
                        <!-- sunrise time & date & weather title -->
                        <div class="middle-data text-white text-center">
                            <h1 id="cityName">{{weatherData?.title}}</h1>
                            <!-- sunrise time -->
                            <span class="fade-in-up"
                                matTooltip="Sunrise Time">{{weatherData.sun_rise.split('T')[1].substring(0,5)}}</span>
                            <span class="fade-in-up">{{today}}</span>
                            <span class="fade-in-up">{{item.applicable_date.slice(5).replace('-' , '/')}}</span>
                        </div>
                        <!-- weather icon -->
                        <img class="fade-in-up m-2" [src]="iconPath +item.weather_state_abbr + '.svg' " alt="state-icon"
                            width="50px" >
                        <!-- go to next day -->
                        <button mat-button (click)="goToNextDay(index)" id="nextBtn" matTooltip="Next Day"
                            class="button-effect position-absolute">
                            <mat-icon class="text-white">keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>