.left-side-card {
    background-image: url('/assets/imgs/card-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.left-section-details {
    top: 85%;
    left: 20%;
    transform: translate(-20% , -85%);
    #cityName {
        font-size: 20px !important;
        margin: 0 !important;
    }
    #degreeSign {
        right: 9px;
        top: -8px;
    }
    .temp-deg {
        font-size: 65px !important;
    }
    .middle-data {
        mat-icon {
            font-size: 14px;
        }
        span {
            margin: 0 3px;
        }
    }
    // slider buttons
    #nextBtn {
        left: 49%;
        top: 100%;
    }
    #prevBtn {
        right: 50%;
        top: 100%;
    }
}
// degree sign
.temp-deg::before {
position: absolute;
left: 95%;
top: -30%;
right: 0;
content: "\00B0";
}