<div class="container">

    <div class="row">

        <!-- left side component : img & summary of weather report -->
        <div class="col-lg-7 none-padding  " style="height: 600px;">
            <app-left-section [weatherData] ="weatherDataFromRightSection"></app-left-section>
        </div>

        <!-- right side coponent : get weather details by searching city name -->
        <div class="col-lg-5 none-padding" style="height: 600px;">
            <app-right-section (emitDataFormHomeCoponent)="getDataFromRightSection($event)"></app-right-section>
        </div>
    </div>


</div>